.container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.section__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.section__item {
    min-height: 200px;
}

.section__item:first-child {
    background-color: #000;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1/2;
    grid-row: 1/3;
}

.section__item:nth-child(2) {
    background-color: aqua;
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-column: 2/4;
    grid-row: 1/2;
}

.section__item:nth-child(3) {
    background-color: blue;
}

.section__item:last-child {
    background-color: blueviolet;
}

.section__wrap {
    margin-top: 50px;
}


.section__wrap {
    display: grid;
    grid-template-areas: 
    "header header header"
    "menu main right"
    "menu footer footer";
    /* grid-gap: 20px; */
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr); */
    /* grid-auto-columns: minmax(50px, 100px); */
}


.section__col {
    min-height: 120px; 
}

.section__col:first-child {
    background-color: grey;
    /* grid-column: 1/4;
    grid-row: 1/2; */
    grid-area: header;
}

.section__col:nth-child(2) {
    background-color: red;
    /* grid-column: 1/2;
    grid-row: 2/4; */
    grid-area: menu;
}


.section__col:nth-child(3) {
    background-color: #000;
    /* grid-column: 2/3;
    grid-row: 2/3; */
    grid-area: main;
}

.section__col:nth-child(4) {
    background-color: blue;
    /* grid-column: 3/4;
    grid-row: 2/3; */
    grid-area: right;
}

.section__col:last-child {
    background-color: blueviolet;
    /* grid-column: 2/4;
    grid-row: 3/4; */
    grid-area: footer;
}


.section__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-areas: 
    "one    one    two    two    two    three three three three three three four   four"
    "five   five   two    two    two    three three three three three three six    six"
    "seven  seven  eight  nine   nine   three three three three three three ten    ten"
    "eleven eleven eleven eleven eleven three three three three three three twelve twelve";
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}


.section__box {
    min-height: 100px;
}

.section__box:first-child {
    background-color: red;
    grid-area: one;
}

.section__box:nth-child(2) {
    background-color: purple;
    grid-area: two;
}

.section__box:nth-child(3) {
    background-color: orange;
    grid-area: three;
}

.section__box:nth-child(4) {
    background-color: yellow;
    grid-area: four;
}

.section__box:nth-child(5) {
    background-color: green;
    grid-area: five;
}

.section__box:nth-child(6) {
    background-color: aquamarine;
    grid-area: six;
}

.section__box:nth-child(7) {
    background-color: cadetblue;
    grid-area: seven;
}

.section__box:nth-child(8) {
    background-color: #000;
    grid-area: eight;
}

.section__box:nth-child(9) {
    background-color: aqua;
    grid-area: nine;
}

.section__box:nth-child(10) {
    background-color: blueviolet;
    grid-area: ten;
}

.section__box:nth-child(11) {
    background-color: blue;
    grid-area: eleven;
}   

.section__box:last-child {
    background-color: red;
    grid-area: twelve;
}

.section__over-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}


.box__item {
    min-height: 120px;
}

.box__item:first-child {
    background-color: red;
    grid-column: 1/5;
    grid-row: 1/2;
}

.box__item:nth-child(2) {
    background-color: #000;
    grid-column: 1/4;
    grid-row: 2/3;
}

.box__item:nth-child(3) {
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 3/4;
}

.box__item:nth-child(4) {
    background-color: blue;
    grid-column: 1/2;
    grid-row: 4/5;
}

.box__item:nth-child(5) {
    background-color: blueviolet;
    grid-column: 2/3;
    grid-row: 3/5;
}

.box__item:nth-child(6) {
    background-color: cadetblue;
    grid-column: 3/4;
    grid-row: 3/5;
}

.box__item:nth-child(7) {
    background-color: coral;
    grid-column: 4/5;
    grid-row: 2/5;
}

.box__item:nth-child(8) {
    background-color: chartreuse;
    grid-column: 5/7;
    grid-row: 1/4;
}

.box__item:last-child {
    background-color: chocolate;
    grid-column: 5/7;
    grid-row: 4/5;
}
